<div class="game-feed">
<div class="jumbotron">
  <h2>Choose</h2>
  <p><%= link_to "Rock", rock_path, class: "btn" %></p>
  <p><%= link_to "Paper", paper_path, class: "btn" %></p>
  <p><%= link_to "Scissors", scissors_path, class: "btn" %></p>

</div>

<div class="jumbotron">
  <div class="score">
      <p>Your wins: <%= @wins %></p>
      <p>Computer wins: <%= @comp_wins %></p>
  </div>
</div>
</div>
